// Custom configurations for specific profiles
profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        doocker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'hla-typing'
        process.runOptions = '-u $(id -u):$(id -g)'
    }
}
